<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="header">
        <div class="title">Plan zajęć</div>
    </div>
    <div id="subjects">
        @RenderBody()
    </div>
    <div id="content">
        Miejsce na tabelę planu zajęć
    </div>

</body>
</html>
